<html>
<head>
  <title>Redoran - Nowa Era</title>
  <link href='//fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href="style.css?1" rel="stylesheet" />
<meta charset="UTF-8">

</head>
<body id="app">
<div class="inside">
  <div class="relativeness">
  <span class="date" id="launch-date" data-when="15 Jan 2017 21:30">15 stycznia 2017r. 21:30</span>
    <span class="info">
    Ponowne uruchomienie gry za<br/>
    </br/>
  </br/>
</br/>
</br/>
<a href="https://www.facebook.com/redoranmmorpg/">Facebook</a> | <a href="http://www.redoran.oxn.pl/viewforum.php?id=47">Forum</a>
    </span>
    <div id="countdown">
      <span class="countdown days">{{days}}</span>
      <span class="countdown hours">{{hours}} </span>
      <span class="countdown minutes">{{minutes}} </span>
      <span class="countdown seconds">{{seconds}}</span>
    </div>
    <div class="partners">
      <div v-for="(partner,link) in partners">
        <a :href="link"><img :src="partner+'.png'" /></a>
      </div>
    </div>
</div>
</div>
<div class="outside">

</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>
<script async src="script.js?3" language="javascript"/></script>
</body>
</html>
