body{
  background-image:  url(/bg2.jpg);
  background-size: 400px;
  background-repeat:  repeat;
  background-color: black;
  font-family: 'Josefin Sans';
  overflow:hidden;

}
.inside{
  position:absolute;
  margin: auto;
  left:0;
  top:0;
  right:0;
  bottom: 0px;
  width: 1022px;
  height: 432px;
  box-shadow: 0px 0px 50px rgba(33,33,33,0.9),
              inset 0px 0px 50px rgba(0,0,0,0.9),
              0px 0px 3px rgba(0,0,0,0.9),
              inset 0px 0px 1px rgba(0,0,0,0.9),
              0px 0px 3px rgba(33,33,33,0.9);
  background-image: url(/bg.png);
  background-size: 1050px;
  background-repeat: no-repeat,repeat;
  background-color: black;
  background-position:center center;
  z-index: 2;
}
#countdown{
  position: absolute;
  margin: auto auto;
  width: 192px;
  top: 240px;
  text-align: center;
  font-size: 27px;
  height: 24px;
  animation: scaling 1.3s infinite;
  left:0;
  right:0;
}
.relativeness{
  position: relative;
  margin-left: 30px;
}
#countdown  .countdown{
  display: inline-block;
  width:48px;padding:0px;margin:0;
  float:left;
  overflow:hidden;
  text-align: center;
  line-height: 24px;
}
.inside .date{
  margin: auto auto;
  color: white;
  position: absolute;
  left:0;
  right:0;
  width: 192px;
  top: 320px;
  font-size: 18px;
  display:block;
  text-align: center;
}
a{
  color:white;
  text-decoration: none;
  transition: color 1s ease;
}
a:hover{
  color: rgb(36, 77, 250);
}
.inside  .info{
  margin: auto auto;
  color: orangeyellow;
  text-shadow: 1px 1px gray;
  position: absolute;
  left:0;
  right:0;
  width: 300px;
  top: 190px;
  height: 130px;
  font-size: 18px;
  display:block;
  text-align: center;
}
.countdown::after{
  font-size: 16px;
  width:12px;
  line-height: 28px;
  float:right;
  text-align: left;
  display:inline-block;
}
.days::after{
    content:"d";
}

.minutes::after{
    content:"m";
}

.hours::after{
    content:"h";
}

.seconds::after{
    content:"s";
}
.outside{
  position:absolute;
  margin: auto;
  left:0;
  top:0;
  right:0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  overflow:hidden;
  background-image: url(/bg.png);
  background-size:  100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position:center center;
  z-index: 1;
  animation: blurring 5s infinite;
   animation-timing-function: ease-out;
}
@keyframes blurring {
    0% {
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    filter: blur(6px);}
    50% {
    -webkit-filter: blur(16px);
    -moz-filter: blur(16px);
    filter: blur(16px);

    } 100% {
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    filter: blur(6px);
  }
}


@keyframes scaling {
    0% {
      transform:scale(1);
    }
    15%{
      transform:scale(1.05);
      color:rgb(102, 0, 0);
    }
    20%{
      transform:scale(1.2);
      color:rgb(102, 0, 0);
    }
    25%{
      transform:scale(0.9);
        color:black;
    }
    30%{
      transform:scale(1.0);
      color:black;
    }
    45%{
      transform:scale(1.05);
      color:rgb(102, 0, 0);
    }
    50%{
      transform:scale(1.2);
      color:rgb(102, 0, 0);
    }
    55%{
      transform:scale(0.9);
        color:black;
    }
    60%{
      transform:scale(1.0);
    }

    75%{
      transform:scale(1.05);
    }
    100%{
      transform:scale(1);

    }
}
.partners{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 99%;
}
.partners img{
  height: 30px;
}
.partners > div{
  margin-left: 10px;
  margin-right: 10px;
}
